body{
	margin: 0;
	background-color: #262C30;
	font-family: Verdana, sans-serif;
}


/* td{
	border: 1px solid #FFFFFF;
	border-width: 2px;
	border-radius: 5px;
	width: 150px;
}
 */
h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}

h1 {
	margin: 0;
}

li {
	list-style-type: square;
}

/* a:hover {
	color: #FFFFFF;
} */

a:link{
	color: #109955;
	font-weight: bold;
	text-decoration: none;
}

a:visited{
	color: #109955;
	font-weight: bold;
}

.graph_center {
	position: relative;
	width: 75%;
	background-color: #FFFFFF;
	margin: 0 auto;
}

.center {
	position: relative;
	width: 75%;
	height: 600px;
	background-color: #FFFFFF;
	margin: 0 auto;
}

#no_graph_title{
	font-size: 50px;
    font-weight: bold;
	font-family: Verdana, sans-serif;
    text-align: center;
}

#graph_area_temp_title {
	font-size: 50px;
    font-weight: bold;
	font-family: Verdana, sans-serif;
    text-align: center;
}

#graph_area_umid_title {
	font-size: 50px;
    font-weight: bold;
	font-family: Verdana, sans-serif;
    text-align: center;
}

#header {
  	border: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 100%;
	height: 35px;
	background-color: #5d87aa;
}

#name {
	padding: 0px 0px 0px 0px;
	font-size: 26px;
	font-family: Verdana, sans-serif;
	color: #F2F2F2;
	text-align: center;
	width: 100%;
	height: 35px;
	margin: 0;
}

#sidemenu{
	height: 35px;
	width: 75%;
	font-family: Verdana, sans-serif;
	background-color: #262C30;
	margin: 0 auto; 
}

#sidemenutd{
	width: 67px; 
}

#logo{
	height: 100%;
	width: 25%;
	background-color: #262C30;
}

#general_info{
	font-size: 20px;
	width: 100%;
	height: 100%;
}

.tipo_dado{
	font-size: 20px;
	color: #00F000;
	width: 100px;	
}

#tabelaprincipal{
	float: left;
	border-radius: 5px;
	height: 40px;
	color: #000000;
	border: 1px solid #000000;
	border-width: 2px;
}

.main_td{
	font-size: 20px;
	border: 1px solid #000000;
	border-width: 2px;
	border-radius: 5px;
	color: #000000;
	width: 150px;
}

#footer {
	position: relative;
	height: 200px;
	clear: both;
	background-image: url("http://img546.imageshack.us/img546/8040/jb5f.jpg");
	background-repeat: no-repeat;
	background-size:100% 100%;
}


#footer p {
	position: relative;
	padding-top: 20px;
	padding-right: 100px;
	margin-left: 300px;
	font-size: 16px;
}

canvas {
    transform: translate3d(0,0,0);
}

#esq{
	float: left;
	width: 45%;
 	margin-top: 20px;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#dir{
	float: right;
	width: 45%;
 	margin-top: 20px;
	margin-left: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
}

#sub{
    background-color: #FFFFFF;
}

#subimg{
	position:relative;
	left:25%;
	top:50%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}

#graph_area{
	background-color: #FFFFFF;
	width: 75%; 
}