<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<link type="text/css" rel="stylesheet" href="/static/stylesheet2.css"/>
		<title>TCC-II</title>
	</head>

	<body>
		<form action="/graph" method="post" id="frm">
            {% csrf_token %}
			<div id="header">
				<h1 id="name">SISTEMA DE MONITORAMENTO CLIM&Aacute;TICO USANDO SENSORES</h1>
			</div>
			<div id="subheader">
				<table id="sidemenu">
					<tr>
						<td align="center" id="logo"><a href="http://www.cct.udesc.br/"><img src="http://oi60.tinypic.com/f4fer5.jpg"></a></td>
                        <td align="center" id="sidemenutd"><a href="/home">Home</a></td>
                        <td align="center" id="sidemenutd"><a href="/consultas">Consultas</a></td>
                        <td align="center" id="sidemenutd"><a href="/sobre">Sobre o trabalho</a></td>
					</tr>				
				</table>
			</div>
			
			<div class="center">
				<table width="90%">

					<tr>
						<td id="general_info" colspan=4><p><b>Selecione os tipos de dados que deseja visualizar:</b></p></td>
					</tr>
					<tr>
						<td><label><input type="checkbox" name="temp" value="t" >Temperatura</label></td>
						<td><label><input type="checkbox" name="umid" value="u" >Umidade</label></td>
					</tr>

					<tr>
						<td id="general_info" colspan=4><p><b>Selecione o período que deseja visualizar:</b></p></td>
					</tr>
					<tr>
						<td><label><input type="date" name="dataini" required="required">Data Inicial</label></td>
						<td><label><input type="date" name="datafim" required="required">Data Final</label></td>
					</tr>

					<tr>
						<td colspan=4 align="center" width="200px"><input type="submit" onClick="validaForm();" value="Gerar Gráfico" size=500></td>
					</tr>			
				</table>
			</div>
		</form>
        <script src="/static/jquery.min.js"></script>
        <script type="text/javascript">
			var csrf_token = "{{ csrf_token }}";
            $("#frm").submit(function(){
                var checked = $("#frm input:checked").length > 0;
                if (!checked){
                    alert("Selecione pelo menos um tipo de dado.");
                    return false;
                }
            });
        </script>
	</body>
</html>
