<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<link type="text/css" rel="stylesheet" href="/static/stylesheet2.css"/>
		<title>TCC-II</title>
	</head>
	
	<body>
		<script src="/static/d3.min.js"></script>
		<script src="/static/graficod3.js"></script>

 		<div id="header">
			<h1 id="name">SISTEMA DE MONITORAMENTO CLIM&Aacute;TICO USANDO SENSORES</h1>
		</div>
 		<div id="subheader">
			<table id="sidemenu">
				<tr>
					<td align="center" id="logo"><a href="http://www.cct.udesc.br/"><img src="http://oi60.tinypic.com/f4fer5.jpg"></a></td>
					<td align="center" id="sidemenutd"><a href="/home">Home</a></td>
					<td align="center" id="sidemenutd"><a href="/consultas">Consultas</a></td>
					<td align="center" id="sidemenutd"><a href="/sobre">Sobre o trabalho</a></td>
				</tr>				
			</table>
		</div>
		<div class="graph_center" id="no_graph_title"></div>
		<div class="graph_center" id="graph_area_temp_title"></div>
		<div class="graph_center" id="graph_area_temp"></div>
		<div class="graph_center" id="graph_area_umid_title"></div>
		<div class="graph_center" id="graph_area_umid"></div>

		<script type="text/javascript">
            var csrf_token = "{{ csrf_token }}";
			var data_temp = {{ data_temp|safe }};
			var data_umid = {{ data_umid|safe }};
			var data_fuma = {{ data_fuma|safe }};

            var br_BR = {
                "decimal": ".",
                "thousands": ",",
                "grouping": [3],
                "currency": ["$", ""],
                "dateTime": "%a %b %e %X %Y",
                "date": "%m/%d/%Y",
                "time": "%H:%M:%S",
                "periods": ["AM", "PM"],
                "days": ["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado"],
                "shortDays": ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sab"],
                "months": ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
                "shortMonths": ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"]
            }
            var BR = d3.locale(br_BR);

            function do_graph_temp(){
                document.getElementById("graph_area_temp_title").innerHTML = 'Temperatura';
                document.getElementById("graph_area_temp").style.height = "600px";

                var margin = {top: 20, right: 80, bottom: 30, left: 50},
                    width = 1000 - margin.left - margin.right,
                    height = 400 - margin.top - margin.bottom;

                var parseDate = d3.time.format("%Y-%m-%d %H:%M:%S").parse;

                var x = d3.time.scale()
                    .range([0, width]);

                var y = d3.scale.linear()
                    .range([height, 0]);

                var xAxis = d3.svg.axis()
                    .scale(x)
                    .orient("bottom")

                var yAxis = d3.svg.axis()
                    .scale(y)
                    .orient("left");

                var area = d3.svg.area()
                    .interpolate("basis")
                    .x(function(d) { return x(d.date); })
                    .y0(height)
                    .y1(function(d) { return y(d.Temperatura); });

                var svg = d3.select("#graph_area_temp").append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")

                data_temp.forEach(function(d) {
                    d.date = parseDate(String(d.date));
                    console.log(d.date)
                    d.Temperatura = +d.Temperatura;
                });

                x.domain(d3.extent(data_temp, function(d) { return d.date; }));
                y.domain([ d3.min(data_temp, function(d) { return d.Temperatura - 5; }), d3.max(data_temp, function(d) { return d.Temperatura + 5; })]);

                svg.append("path")
                    .datum(data_temp)
                    .attr("class", "area")
                    .attr("d", area);

                svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(xAxis);

                svg.append("g")
                    .attr("class", "y axis")
                    .call(yAxis)
                    .append("text")
                    .attr("transform", "rotate(-90)")
                    .attr("y", 6)
                    .attr("dy", ".71em")
                    .style("text-anchor", "end")
                    .text("°C");
            }

            function do_graph_umid(){
                document.getElementById("graph_area_umid_title").innerHTML = 'Umidade';
                document.getElementById("graph_area_umid").style.height = "600px";

                var margin = {top: 20, right: 80, bottom: 30, left: 50},
                    width = 1000 - margin.left - margin.right,
                    height = 400 - margin.top - margin.bottom;

                var parseDate = d3.time.format("%Y-%m-%d %H:%M:%S").parse;

                var x = d3.time.scale()
                    .range([0, width]);

                var y = d3.scale.linear()
                    .range([height, 0]);

                var xAxis = d3.svg.axis()
                    .scale(x)
                    .orient("bottom");

                var yAxis = d3.svg.axis()
                    .scale(y)
                    .orient("left");

                var area = d3.svg.area()
                    .x(function(d) { return x(d.date); })
                    .y0(height)
                    .y1(function(d) { return y(d.Umidade); });

                var svg = d3.select("#graph_area_umid").append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")

                data_umid.forEach(function(d) {
                    d.date = parseDate(String(d.date));
                    d.Umidade = +d.Umidade;
                });

                x.domain(d3.extent(data_umid, function(d) { return d.date; }));
                y.domain([ 0, 100 ]);

                svg.append("path")
                    .datum(data_umid)
                    .attr("class", "area")
                    .attr("d", area);

                svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(xAxis);

                svg.append("g")
                    .attr("class", "y axis")
                    .call(yAxis)
                    .append("text")
                    .attr("transform", "rotate(-90)")
                    .attr("y", 6)
                    .attr("dy", ".71em")
                    .style("text-anchor", "end")
                    .text("%");
            }

            function verifica_objeto(obj){
                var isEmpty = true;
                for (var i in obj) {
                    if(obj.hasOwnProperty(i)) {
                        isEmpty = false;
                        break;
                    }
                }
                if(isEmpty) {
                    return false;
                } else {
                    return true;
                }
            }

            if(verifica_objeto(data_temp) == false && verifica_objeto(data_umid) == false && verifica_objeto(data_fuma) == false){
                document.getElementById("no_graph_title").innerHTML = 'Não há dados disponíveis para esses parâmetros.';
            }
            else{
                if(verifica_objeto(data_temp) == true){
                    do_graph_temp()
                }
                if(verifica_objeto(data_umid) == true){
                    do_graph_umid()
                }
            }
		</script>

	</body>
</html>
